:host{
    
    .allContent{
        background-image: url(./../../../assets/img/background-fatec.png);
        background-size: cover;

        .box-form{
            width: 400px;

            input{
                width: 100% !important;
            }
        }
        
    }


}