<app-confirm 
    (confirm)="deleteItems($event)"
/>

<app-sidebar />

<app-header titulo="Usuários" icon="user-group-solid.svg"/>

<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <a routerLink="/home">
            <div class="col-11 d-flex align-items-center mx-auto" >
                <i class="bi bi-arrow-left-short fs-4"></i>
                <p class="m-0 p-0">Voltar</p>
            </div>
        </a>
    </div>

    <div class="row justify-content-center align-items-center my-3 ">
        <div class="col-11 bg-white p-3 shadow rounded">
            <div class="row ">
                <div class="col">
                    <mdb-form-control>
                        <input mdbInput type="email" id="form1Example1" class="form-control" name="name" [(ngModel)]="name"/>
                        <label mdbLabel class="form-label" for="form1Example1">Nome</label>
                    </mdb-form-control>
                </div>

                <div class="col">
                    <mdb-form-control>
                        <input mdbInput type="text" id="form1Example1" class="form-control" name="Documento" [(ngModel)]="doc"/>
                        <label mdbLabel class="form-label" for="form1Example1">RM</label>
                    </mdb-form-control>
                </div>

                <div class="col-2 p-0">
                    <button type="button" class="btn btn-danger w-100" mdbRipple (click)="searchEmployees()">Pesquisar</button>
                </div>
                <div class="col-auto text-center">
                    <div class="row">
                        <div class="col-5">
                            <button type="button" class="btn btn-danger btn-floating" (click)="openAddModal()" mdbRipple><i class="bi bi-plus fs-5"></i></button>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-danger btn-floating" (click)="openDeleteModal()" mdbRipple><i class="bi bi-trash-fill"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <app-table 
        [headers]="headers"
        [data]="employess"
        [indexes]="indexes"
        [resetItemsToDelete]="resetList"
        (id)="edit($event)"
        (itemsToDelete)="getItemsToDelete($event)"
    />
</div>